body {
    margin: 0;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

canvas {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid red;
}